#rootIncomes{
    margin: auto;
    width: 60%;
    border: 3px solid snow;
    border-radius: 2%;
    padding: 10px;
}

#rootExpenses{
    margin: auto;
    width: 60%;
    border: 3px solid snow;
    border-radius: 2%;
    padding: 10px;
}
#marginTitle{
    margin-top: 2%;
}
#rootHomePaperShowChart{
    margin-top: 2%;

    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*text-align: center;*/
    /*min-height: 100vh;*/
}
#title{
    font-size: 35px;
}
