#rootIncomes{
    margin: auto;
    width: 60%;
    border: 3px solid snow;
    border-radius: 2%;
    padding: 10px;
}

#rootExpenses{
    margin: auto;
    width: 60%;
    border: 3px solid snow;
    border-radius: 2%;
    padding: 10px;
}
#marginTitle{
    margin-top: 2%;
}
