.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.titleTable{
    opacity: 0.8;
}

.headTable{
    background-color: bisque;
    opacity: 0.8;
}
.bodyTable{
    background-color: aliceblue;
    opacity: 0.7;
}